%article#video-section
  .overlay
  %video{:autoplay => "autoplay", :loop => "loop", :muted => "muted", :playsinline => "playsinline"}
    %source{:src => "https://inexperiencedsuperboutput--danielelizondo.repl.co/videos/background-video.mp4", :type => "video/mp4"}
  .container.h-100
    .d-flex.h-100.text-center.align-items-center
      .w-100.text-white
        %h1.text-primary.d-none.d-md-block= t('app.name')
        %h2.text-primary.d-block.d-sm-block.d-md-none= t('app.name')

        %h2.mb-0= t('app.slogan')
%article#about-us-section.mt-3.mb-3
  .container-fluid
    .row
      .col-md-4.mb-3
        %fieldset.info
          %legend.text-center
            %h2 Nosotros
          %p.text-justify
            El Gimnasion 506 Fitness es un negocio dedicado al mejoramiento físico integral de sus clientes.
            Este gimnasio cuenta con instructores los cuales arman la rutina de acuerdo con las necesidades del socio,
            brindando servicios de nutrición, maquinas, pilates, crossfit, piscina, jacuzzi, entre otros.
          %section
            %h3.text-primary.text-center Misión
            %p.text-justify
              Contribuir en crear y mantener una excelente salud física y mental
              mediante programas de nutrición y entrenamiento.
          %section
            %h3.text-primary.text-center Visión
            %p.text-justify
              Ser el gimnasio líder en el país en brindar tanto calidad como
              bienestar a todos nuestros socios.
      .col-md-8.d-flex.flex-column.justify-content-center
        = image_tag 'about-us/machines.jpg', class: 'img-fluid', alt: 'Imagen de maquinas en el gimnasio'
%article#services-section.bg-light
  %h2.text-center= t('activerecord.models.gym_service.other')
  .container-fluid
    #services-carousel
      #carouselExampleInterval.carousel.slide{"data-ride" => "carousel"}
        .carousel-inner
          - @services.each do |service|
            .carousel-item{"data-interval" => "10000", class: "#{'active' if service == @services.first }"}
              .row
                .offset-md-1.col-md-6.mb-3
                  = image_tag service.photo, class: 'ml-md-5 img-fluid' if service.photo.attached?
                .col-md-3.d-flex.flex-column.justify-content-center
                  %h3.text-primary.text-center= service.name
                  %p.text-center= service.description
        %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleInterval", :role => "button"}
          %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleInterval", :role => "button"}
          %span.carousel-control-next-icon{"aria-hidden" => "true"}
          %span.sr-only Next
%article#benefits-section.mt-5.mb-5
  %h2.text-center= t('activerecord.models.benefits.other')
  .container-fluid
    .row
      %figure.col-md-2.text-center
        = image_tag 'icons/car.png', class: 'img-fluid'
        %figcaption.mt-2
          %h4 Parqueo
      %figure.col-md-2.text-center
        = image_tag 'icons/eat.png', class: 'img-fluid'
        %figcaption.mt-2
          %h4 Soda
      %figure.col-md-2.text-center
        = image_tag 'icons/medical.png', class: 'img-fluid'
        %figcaption.mt-2
          %h4 Nutricionista
      %figure.col-md-2.text-center
        = image_tag 'icons/shopping-bag.png', class: 'img-fluid'
        %figcaption.mt-2
          %h4 Tienda
      %figure.col-md-2.text-center
        = image_tag 'icons/child.png', class: 'img-fluid'
        %figcaption.mt-2
          %h4 Área de niños
      %figure.col-md-2.text-center
        = image_tag 'icons/basketball.png', class: 'img-fluid'
        %figcaption.mt-2
          %h4 Basketball
%article#instructors-section.bg-light.pb-3.pt-3
  %h2.text-center.mb-3.mt-3= t('activerecord.models.instructors.other')
  .container-fluid
    .row.justify-content-center
      - @instructors.each do |instructor|
        .col-md-4.mb-sm-3.p-md-5
          .card.mb-2
            = image_tag instructor.photo, class: 'card-img-top',width: 300, height: 400
            .card-body
              %h4.text-primary.text-center.card-title= instructor.full_name
              %p.text-center.card-text= instructor.position

= javascript_pack_tag 'carousel'


