%li.nav-item.dropdown
  = link_to 'Administrar', '#' , 'aria-expanded': false, 'aria-haspopup': true,
             'data-toggle':  :dropdown, role: :button,class: 'nav-link dropdown-toggle', id: 'adminDropdown'
  .dropdown-menu{ 'aria-labelledby':  'adminDropdown' }
    = link_to t('nav.admin.partners'), admin_users_path, class: "dropdown-item #{'active' if controller_path == 'admin/users' }"
    = link_to t('nav.admin.profiles'), admin_profiles_path, class: "dropdown-item #{'active' if controller_name == 'profiles' }"
    = link_to t('nav.admin.services'), admin_gym_services_path, class: "dropdown-item #{'active' if controller_path == 'admin/gym_services' }"
    = link_to t('nav.admin.activities'), admin_activities_path, class: "dropdown-item #{'active' if controller_path == 'admin/activities'  }"