%nav.navbar.navbar-light.bg-light.fixed-top
  %h2.navbar-brand.mb-0.text-primary GYM 506
  %ul.nav.justify-content-end
    %li.nav-item
      = link_to 'Inicio', '#  ', class: 'nav-link active'
    %li.nav-item
      = link_to 'Nosotros', '#  ', class: 'nav-link'
    %li.nav-item
      = link_to 'Servicios', '#  ', class: 'nav-link '
    %li.nav-item
      = link_to 'Beneficios', '#  ', class: 'nav-link '
    %li.nav-item
      = link_to 'Instructores', '#  ', class: 'nav-link '
    %li.nav-item
      = link_to 'Precios', '#  ', class: 'nav-link'
    %li.nav-item
      = link_to 'Contacto', '#  ', class: 'nav-link'
    %li.nav-item
      = link_to 'Actividades', '#  ', class: 'nav-link'
    %li.nav-item
      %button.btn.btn-secondary.my-2.my-sm-0 Ingresar
