%nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  = link_to 'GYM 506', root_path, class: 'navbar-brand text-primary'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav
      %li.nav-item
        = link_to t('nav.home'), root_path, class: "nav-link #{ 'active' if controller_name == 'home' }"
      %li.nav-item
        = link_to t('nav.about_us'), root_path(anchor: 'about-us-section'), class: 'nav-link'
      %li.nav-item
        = link_to t('nav.services'), root_path(anchor: 'services-section'), class: 'nav-link '
      %li.nav-item
        = link_to t('nav.benefits'), root_path(anchor: 'benefits-section'), class: 'nav-link '
      %li.nav-item
        = link_to t('nav.instructors'), '#  ', class: 'nav-link '
      %li.nav-item
        = link_to t('nav.prices'), '#  ', class: 'nav-link'
      %li.nav-item
        = link_to t('nav.contact'), '#  ', class: 'nav-link'
      %li.nav-item
        = link_to t('nav.activities'), activities_path, class: 'nav-link'
      - if current_user&.admin?
        = render partial: 'layouts/admin_options'
      - if current_user.present?
        %li.nav-item.dropdown
          %a#dropdownMenu2.dropdown-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
            = current_user.full_name
          .dropdown-menu.dropdown-menu-righ{"aria-labelledby" => "dropdownMenu2"}
            =link_to t('nav.profile.see'),'', class: 'dropdown-item'
            =link_to t('nav.profile.log_out'), destroy_user_session_path ,method: :delete, class: 'dropdown-item'

      -else
        %li.nav-item
          =link_to t('nav.log_ing'), new_user_session_path , class: 'btn btn-secondary my-2 my-sm-0'