!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv':  'Content-Type'}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/

    %title Gym506
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.d-flex.flex-column
    %header
      = render partial: 'layouts/navbar'
    %main#page-content{ class: "#{'container-fluid' unless controller_path ==  'home/home' }" }
      = yield
    = render partial: 'layouts/footer'
